@page
@model FinanceTracker.Pages.Transactions.CreateModel
@{
    ViewData["Title"] = "Add Transaction";
}

<h1>Add Transaction</h1>

<form method="post"> @*validated form field for transaction date.*@
    <div class="mb-3">
        <label asp-for="Transaction.Date" class="form-label"></label>
        <input asp-for="Transaction.Date" class="form-control" />
        <span asp-validation-for="Transaction.Date" class="text-danger"></span>
    </div>

    <div class="mb-3"> @* validated form field for transaction discription.*@
        <label asp-for="Transaction.Description" class="form-label"></label>
        <input asp-for="Transaction.Description" class="form-control" />
        <span asp-validation-for="Transaction.Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label asp-for="Transaction.Category" class="form-label"></label> @*Updated Transaction category to include dropdown feature*@
      <select asp-for="Transaction.Category" class="form-select">
         @foreach (var cat in FinanceTracker.Pages.Transactions.CreateModel.Categories)
         {
             <option value="@cat">@cat</option>
         }
      </select>
      <span asp-validation-for="Transaction.Category" class="text-danger"></span>
    </div>

    <div class="mb-3"> @*Form field for transaction amount.*@
        <label asp-for="Transaction.Amount" class="form-label"></label>
        <input asp-for="Transaction.Amount" class="form-control" />
        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
        <div class="form-text">Use positive for income, negative for expenses.</div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button> @*Buttons*@
    <a asp-page="/Transactions/Index" class="btn btn-secondary">Cancel</a>



</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}